<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <nav>
    <ul>
      <li>
        <a href="{% url "crud:index" %}">Index</a>
      </li>
      {% if request.user.is_authenticated %}
      <li>
        <a href="{% url "crud:create" %}">New</a>
      </li>
      <li>
        <a href="{% url "accounts:logout" %}">Logout</a>
      </li>
      {% else %}
      <li>
        <a href="{% url "accounts:signup" %}">Signup</a>
      </li>
      <li>
        <a href="{% url "accounts:login" %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </nav>

    {% block content %}{% endblock content %}
</body>
</html>