{% extends "base2.html" %}

{% block content %}
<h1>Edit Student</h1>

<!--<form action="/school/{{ student.pk }}/update/"> -->
<form action="{% url "crud:update" student.pk %}">

  <div>
    <label for="student_name">이름: </label>
    <input value="{{ student.name }}" type="text" id="student_name" name="student_name">
  </div>
  <div>
    <label for="student_major">전공: </label>
    <input value="{{ student.major }}" type="text" id="student_major" name="student_major">
  </div>
  <div>
    <label for="student_age">나이: </label>
    <input value="{{ student.age }}" type="numbers" id="student_age" name="student_age">
  </div>
  <div>
    <label for="student_description">설명: </label>
    <textarea name="student_description" id="student_description" cols="30" rows="10">{{ student.description }}</textarea>
  </div>
  <div>
    <button>학생 수정</button>
  </div>


</form>

{% endblock content %}